
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<section class="content">
    <div class="container">
        <h2>ORDERS</h2>
        <div class="row ">
            {{!-- {{#if addUser === false}}
                <div class="alert alert-danger" role="alert">
                    Email Id exits! 
                </div>
            {{/if}} --}}
            {{!-- <a href="/admin/add-product" class="btn btn-primary ml-auto m-3">Add Product</a> --}}
        </div>
        <table class="table mt-5" id="myTable">
            <thead>
                <tr>
                    {{!-- <th scope="col">DATE</th> --}}
                    {{!-- <th scope="col">Last</th> --}}
                    <th scope="col">Date</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Address</th>
                    {{!-- <th scope="col">City</th> --}}
                    {{!-- <th scope="col">state</th> --}}
                    <th scope="col">Pin</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Price</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Status</th>
                    {{!-- <th scope="col">Password</th> --}}
                    <th scope="col">Edit Status</th>
                    <th scope="col">Save</th>
                    {{!-- <th scope="col">Delete</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each order}}
                <tr>
                    {{!-- <td><img style="height:50px" src="/product-images/{{this._id}}.jpg" alt=""></td> --}}
                    <td>{{this.delivery_details.date}}</td>
                    {{!-- <td>{{this.lastEdit}}</td> --}}
                    <td>{{this.delivery_details.name}}</td>
                    <td>{{this.delivery_details.address}}</td>
                   
                    {{!-- <td>{{this.delivery_details.city}}</td> --}}
                    {{!-- <td>{{this.delivery_details.state}}</td> --}}
                    <td>{{this.delivery_details.pin}}</td>
                    <td>{{this.delivery_details.mobile}}</td>
                    <td>₹ {{this.totalAmount}}</td>
                    <td>{{this.paymentMethod}}</td>
                    <td>{{this.status}}</td>
                    {{!-- <td><img src="/public/product-images/[object Object].jpg" alt="" style="width:10px;height: 10px; "></td> --}}
                    
                    {{!-- <td>{{this.Password}}</td> --}}
                    <td><div class="dropdown show">
                    <form action="/admin/edit-status/{{this._id}}" method="post">
                    {{!-- <form action="" method="post"> --}}
                    <!-- Category -->
                    <div>
                    <label class="col-md-4 control-label" for="stock_alert"></label>  
                    <select name="status" class="form-group form-select" aria-label="Default select example">
                    <div class="col-md-4">
                    <label for="status">STATUS</label><br />
                   

                    <option id="Placed" value="Placed" >Placed</option>
                    <option id="Shipped" value="Shipped" >Shipped</option>
                    <option id="Canceled" value="Canceled" >Cancelled</option>
                    <option id="Canceled" value="Canceled" >Deliverd</option>
                    </div>

                    </select>

                    </div>

                    <td><button class="btn btn-success" type="submit">Save</button></td>
                    </td>
                    {{!-- <p>Status</p>
                    <select name="status" id=""></select>
                    <option value="{{this.status}}">{{this.status}}</option>
                    <option value="Placed">Placed</option>
                    <option value="Shipped">Shipped</option>
                    <option value="Canceled">Canceled</option>
                  {{!-- /  <td><a href="/admin/edit-status?id={{this._id}}"><button type="btn btn-success">Save</button></a></td> --}}
                    {{!-- <td><button class="btn btn-success" onclick="changeStatus('{{this._id}}')">Save</button></td></td> --}}
                    {{!-- {{#if this.blocked}}
                    <td><a href="/admin/unblock-user?id={{this._id}}"><button type="button" class="btn btn-success">Cancel</button></a></td>
                    {{else }}
                    <td><a href="/admin/block-user?id={{this._id}}"><button type="button" class="btn btn-danger">Placed</button></a></td>
                    {{/if}} --}}

                    {{!-- <td><a href="/admin/edit-order?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to delete user : {{this.Name}}  ?')">Delete</a></td> --}}
                    {{!-- <td><a href="/admin/edit-order?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to delete user : {{this.Name}}  ?')">Delete</a></td> --}}
                    </form>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

<script>
document.addEventListener("DOMContentLoaded", function(){
    var buttons = document.querySelectorAll(".btn");
    buttons.forEach(function(button){
      	button.addEventListener("click", function(e){
          	var btn = new bootstrap.Button(e.target);
            btn.toggle();
        });
    });
});





</script>
{{!-- 
  function changeStatus(orderId){

    swal({
        title: "Are you sure?",
        text: "you want to change the status"+prodName+" from cart",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
            $.ajax({
                url:'admin/edit-status',
                data:{
                  order:orderId
                  
               },
               method:'post',
               success:(response)=>{
                location.reload()
                   $('#tr'+productId).remove()
                   let msg=prodName+' removed'
                   $('#delete-msg').html(msg)
                   
           
               }
           })
          swal(prodName+" has removed from cart", {
            icon: "success",
          });
        } else {
          swal("deletion aborted");
        }
      });

}   --}}