

<section class="content">
    <div class="container">
        <h2>CUSTOMERS</h2>
        <div class="row ">
            {{!-- {{#if addUser === false}}
                <div class="alert alert-danger" role="alert">
                    Email Id exits! 
                </div>
            {{/if}} --}}
            <a href="/admin/add-user" class="btn btn-primary ml-auto m-3">Add User</a>
        </div>
                       <div class="searchbox ">
  <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
      <a class="search-btn"href="#" >
           <i class="fa fa-search" aria-hidden="true"></i>
      </a>
    </div>
        <table class="table mt-5" id="mytable" >
            <thead>
                <tr >
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Status</th>
                    {{!-- <th scope="col">Password</th> --}}
                    <th scope="col">edit</th>
                    {{!-- <th scope="col">delete</th> --}}
                </tr>
            </thead>
            <tbody>
                {{#each users}}
                <tr>
                    <td>{{this.Name}}</td>
                    <td>{{this.Email}}</td>
                    <td>{{this.number}}</td>
                    <td>{{this.blocked}}</td>
                    {{!-- <td>{{this.Password}}</td> --}}
                    {{!-- <td><a href="/admin/edit-user?id={{this._id}}" class="btn btn-primary">Edit</a></td> --}}

                    {{#if this.blocked}}
                    <td><a href="/admin/unblock-user?id={{this._id}}"><button type="button" class="btn btn-success">Unblock</button></a></td>
                    {{else}}
                    <td><a href="/admin/block-user?id={{this._id}}"><button type="button" class="btn btn-danger">Block</button></a></td>
                    {{/if}}

                    {{!-- <td><a href="/admin/delete-user?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to delete user : {{this.Name}}  ?')">Delete</a></td> --}}
                </tr>
                {{/each}}
            </tbody>
        </table>
                <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center justify-content-lg-end">
                <li class="page-item"><a class="page-link" href="?page={{math currentPage '+' '-1'}}">Previous</a></li>
                {{#times '1' pageLimit}}
                <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                {{/times}}
                <li class="page-item"><a class="page-link" href="?page={{inc currentPage}}">Next</a></li>

            </ul>
        </nav>
    </div>
</section>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("mytable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>