 {{!-- <a href="/admin/add-offer" class="btn btn-primary ml-auto m-3">Add Offer</a> --}}

 <section class="content">
    <div class="container">
        <h2>CATEGORY OFFER</h2>
        <div class="row ">
            {{!-- {{#if addUser === false}}
                <div class="alert alert-danger" role="alert">
                    Email Id exits! 
                </div>
            {{/if}} --}}
            <a href="/admin/add-offer" class="btn btn-primary ml-auto m-3">Add Offer</a>
        </div>
        <table class="table mt-5" id="myTable" style="background-color: rgb(255, 255, 255); ">
            <thead>
                <tr >
      
                    <th scope="col">Created on</th>
                    <th scope="col">Starts</th>
                    <th scope="col">Ends</th>
                    <th scope="col">Category</th>
                    <th scope="col">offer</th>
            
                   
                    {{!-- <th scope="col">edit</th> --}}
                    <th scope="col">delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each categories}}
                <tr>
                    {{#if offer}}
                    <td>{{this.Date}}</td>
                    <td>{{this.validFrom}}</td>
                    <td>{{this.validTill}}</td>
                    <td>{{this.Category_name}}</td>
                    <td>{{this.offer}}</td>
                     <td><a href="/admin/delete-offer?id={{this.Category_name}}" class="btn btn-danger" onclick="return confirm('Do you want to delete user : {{this.Category_name}}  ?')">Delete</a></td>
                    {{else}}
                    {{!-- <td> - </td>
                    <td> - </td>
                    <td>{{this.Category_name}}</td>
                    <td class="text-muted">no offer</td> --}}
                     {{!-- <td><a href="/admin/delete-offer?id={{this.Category_name}}" class="btn btn-danger" onclick="return confirm('Do you want to delete user : {{this.Category_name}}  ?')">Delete</a></td> --}}
                    {{/if}}
                    {{!-- <td>{{this.Password}}</td> --}}
                    {{!-- <td><a href="/admin/edit-category?id={{this._id}}" class="btn btn-primary">Edit</a></td> --}}


                   
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>

<script>
    $(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>