
<div class="container">

<div id="content" class="my-4 card p-3" style="box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;">
  <h2 class="text-center">ADD Address</h2>

                <form action="/add-address?userId={{user._id}}" method="post" class="my-4">
                <div class="row gy-3">
                    {{!-- <input type="text" name="userId" id="userId" value="{{user._id}}" > --}}
                  <div class="col-lg-6">
                    <label class="form-label text-sm text-uppercase" for="firstName">First name </label>
                    <input class="form-control form-control-lg" type="text" name="name" id="firstName" value="{{address.name}}">
                  </div>


                  <div class="col-lg-6">
                    <label class="form-label text-sm text-uppercase" for="phone">Phone number </label>
                    <input class="form-control form-control-lg" type="tel" name="phone" id="phone" placeholder="e.g. +02 245354745">
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label text-sm text-uppercase" for="company">Pincode</label>
                    <input class="form-control form-control-lg" type="number" name="pin" id="pin" placeholder=Pincode>
                  </div>
                  <div class="col-lg-6 form-group">
                    <label class="form-label text-sm text-uppercase" for="country">Country</label>
                    <select class="country" name="country" id="country" data-customclass="form-control form-control-lg rounded-0">
                      <option value>Choose your country</option>
                    </select>
                  </div>
                  <div class="col-lg-12">
                    <label class="form-label text-sm text-uppercase" for="address">Address line 1 </label>
                    <input class="form-control form-control-lg" type="text" name="address" id="address" placeholder="House number and street name">
                  </div>

                  <div class="col-lg-6">
                    <label class="form-label text-sm text-uppercase" for="city">Town/City </label>
                    <input class="form-control form-control-lg" type="text" name="city" id="city">
                  </div>
                  <div class="col-lg-6">
                    <label class="form-label text-sm text-uppercase" for="state">State</label>
                    <input class="form-control form-control-lg" type="text" name="state" id="state">
                  </div>
                  <input type="text" name="add_type" value="Primary" hidden>
                 
                  <div class="col-lg-12 form-group ">
                    <button class="btn btn-dark col-3 float-right mt-4" type="submit">Save</button>
                  </div>
                </div>
              </form>
    </div>
    <h3 class="text-center my-5">Saved Address</h3>

    {{#each address}}
    <div class="card my-2" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
      <div class="card-body">

    <div class="d-flex justify-content-between">
    <div>

    <h3>{{this.name}}</h3>
    <p>{{this.address}},{{this.city}},{{this.state}},{{this.pin}}</p>
    <p></p>
    </div>

    <div>
        
        <td><a href="/edit-address?id={{this._id}}" class="btn btn-primary">Edit</a></td>

        <td><a href="/delete-address?id={{this._id}}" class="btn btn-danger">Delete</a></td>
    </div>
    </div>
      </div>
    </div>
    {{/each}}
</div>







