<style>
  .small-images{
    height: 30%;
    width: 100%;
    justify-content: space-around;
    display: grid;
    gap: .5rem;
    position: absolute;
        left: -16rem;
  }
  .small-images img{
         height: 13rem;
    width: auto;
    display: flex;
    cursor: pointer;
    }
</style>



      <section class="py-5">
        <div class="container">
          <div class="row mb-5">
            <div class="col-lg-7">
              <!-- PRODUCT SLIDER-->
              <div class="row m-sm-0">
                <div class="col-sm-2 p-sm-0 order-2 order-sm-1 mt-2 mt-sm-0 px-xl-2">
                  <div class="swiper product-slider-thumbs">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide h-auto swiper-thumb-item mb-3"><img class="img-fluid" src="/product-images/{{product._id}}1.jpg" alt="..."></div>
                      <div class="swiper-slide h-auto swiper-thumb-item mb-3"><img class="img-fluid" src="/product-images/{{product._id}}2.jpg" alt="..."></div>
                      <div class="swiper-slide h-auto swiper-thumb-item mb-3"><img class="img-fluid" src="/product-images/{{product._id}}3.jpg" alt="..."></div>
                      <div class="swiper-slide h-auto swiper-thumb-item mb-3"><img class="img-fluid" src="/product-images/{{product._id}}4.jpg" alt="..."></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-10 order-1 order-sm-2 " id="image-container" style="z-index: 999;">
                  <div class="swiper product-slider" >
                    <div class="swiper-wrapper" >
                      <div class="swiper-slide h-auto d-flex justify-content-center" ><a class="glightbox product-view" href="/product-images/{{product._id}}1.jpg" data-gallery="gallery2" data-glightbox="Product item 1"><img class="img-fluid" src="/product-images/{{product._id}}1.jpg" alt="..." style="height: 500px;"></a></div>
                      <div class="swiper-slide h-auto d-flex justify-content-center"><a class="glightbox product-view" href="/product-images/{{product._id}}2.jpg" data-gallery="gallery2" data-glightbox="Product item 2"><img class="img-fluid" src="/product-images/{{product._id}}2.jpg" alt="..." style="height: 500px;"></a></div>
                      <div class="swiper-slide h-auto d-flex justify-content-center"><a class="glightbox product-view" href="/product-images/{{product._id}}3.jpg" data-gallery="gallery2" data-glightbox="Product item 3"><img class="img-fluid" src="/product-images/{{product._id}}3.jpg" alt="..." style="height: 500px;"></a></div>
                      <div class="swiper-slide h-auto d-flex justify-content-center"><a class="glightbox product-view" href="/product-images/{{product._id}}4.jpg" data-gallery="gallery2" data-glightbox="Product item 4"><img class="img-fluid" src="/product-images/{{product._id}}4.jpg" alt="..." style="height: 500px;"></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- PRODUCT DETAILS-->
            <div class="col-lg-5 mt-5" style="z-index: ;">
              {{!-- <ul class="list-inline mb-2 text-sm">
                <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0 1"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0 2"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0 3"><i class="fas fa-star small text-warning"></i></li>
                <li class="list-inline-item m-0 4"><i class="fas fa-star small text-warning"></i></li>
              </ul> --}}
              <h5 class="text-muted">{{product.product_title}}</h5>
              <h1 >{{product.product_description}}</h1>
                      {{#if product.offerPrice}}
                      <p class="small text-muted"><span class="font-weight-bold">₹</span><del>{{product.price}}</del> </p>
                      <p class="lead"><strong>₹{{product.offerPrice}}</strong></p>
                      {{else}}
                      <p class="lead"><strong>₹{{product.price}}</strong></p>
                      {{/if}}

              {{!-- <p class="text-sm mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ullamcorper leo, eget euismod orci. Cum sociis natoque penatibus et magnis dis parturient montes nascetur ridiculus mus. Vestibulum ultricies aliquam convallis.</p> --}}
              <div class="row align-items-stretch mb-4">

                <div class="col-sm-3 pl-sm-0"><button class="btn tbn-sm btn-dark"b type="button"  onclick="addToCart('{{product._id}}')">Add to Cart</button></div>
              </div>
              <div class="col-sm-3 pl-sm-0">

             
                  {{#if user}}<div class="like-btns" style="    float: inherit;
    position: absolute;
    left: 10rem;
    top: -4rem;
    border: 1px solid;
    padding: 11px 19px 36px 31px;
    border:none"> <button onclick="wishList('{{user._id}}','{{product._id}}')" class="like float-right "><img
                id="like{{product._id}}" class="icon-like" src="/images/heart.png" alt=""><img id="liked{{product._id}}"
                class="icon-liked" src="/images/liked.png"
                alt=""></button> 
                {{#each wishlist}} {{#ifCond this ../proId}}
            <button id="likebtn{{../proId}}" onclick="unWish('{{../user._id}}','{{../proId}}')" class="liked float-right liked{{../proId}}"><img  class="iconliked" src="/images/liked.png"
                alt=""></button>
        
            {{/ifCond}}{{/each}}</div>
            {{/if}}
              </div>


              {{!-- <a class="text-dark p-0 mb-4 d-inline-block btn" href="/add-to-wishlist/{{product._id}}"><i class="far fa-heart me-2"></i>Add to wish list</a><br> --}}
              <ul class="list-unstyled small d-inline-block">
               
                <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Category:</strong>{{product.Category}}</li>
                {{!-- <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Tags:</strong><a class="reset-anchor ms-2" href="">Innovation</a></li> --}}
              </ul>
            </div>
          </div>
          <!-- DETAILS TABS-->
          {{!-- <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link text-uppercase active" id="description-tab" data-bs-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Description</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase" id="reviews-tab" data-bs-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a></li>
          </ul>
          <div class="tab-content mb-5" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
              <div class="p-4 p-lg-5 bg-white">
                <h6 class="text-uppercase">Product description </h6>
                <p class="text-muted text-sm mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
              <div class="p-4 p-lg-5 bg-white">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="d-flex mb-3">
                      <div class="flex-shrink-0"><img class="rounded-circle" src="img/customer-1.png" alt="" width="50"/></div>
                      <div class="ms-3 flex-shrink-1">
                        <h6 class="mb-0 text-uppercase">Jason Doe</h6>
                        <p class="small text-muted mb-0 text-uppercase">20 May 2020</p>
                        <ul class="list-inline mb-1 text-xs">
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star-half-alt text-warning"></i></li>
                        </ul>
                        <p class="text-sm mb-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0"><img class="rounded-circle" src="img/customer-2.png" alt="" width="50"/></div>
                      <div class="ms-3 flex-shrink-1">
                        <h6 class="mb-0 text-uppercase">Jane Doe</h6>
                        <p class="small text-muted mb-0 text-uppercase">20 May 2020</p>
                        <ul class="list-inline mb-1 text-xs">
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star text-warning"></i></li>
                          <li class="list-inline-item m-0"><i class="fas fa-star-half-alt text-warning"></i></li>
                        </ul>
                        <p class="text-sm mb-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> --}}
          <!-- RELATED PRODUCTS-->
          <h2 class="h5 text-uppercase mb-4">Related products</h2>
          <div class="row">
            <!-- PRODUCT-->
                  {{#each related}}
                  <div class="col-lg-3 col-sm-6">
                    <div class="product text-center">
                      <div class="mb-3 position-relative">
                        <div class="badge text-white"> </div><a class="d-block" href="/productDetails?id={{this._id}}">
                          <img src="/product-images/{{this._id}}1.jpg" alt="..." style="height:20rem;widht:20rem"></a>


                        {{#if ../user}}<div class="like-btns">
                          <button onclick="wishList('{{../user._id}}','{{this._id}}')" class="like float-right  "><img
                              id="like{{this._id}}" class="icon-like" src="/images/heart.png" alt=""><img
                              id="liked{{this._id}}" class="icon-liked" src="/images/liked.png" alt=""></button>{{#each
                          ../wishlists }}{{#iff this ../this._id}}
                          {{#if status}}

                          <button id="likebtn{{../this.id}}"
                            onclick="unWish('{{../../../user._id}}','{{../../this._id}}')"
                            class="liked float-right liked{{../../this._id}}"><img class="iconliked "
                              src="/images/liked.png" alt=""></button>
                          {{/if}}
                          {{/iff}}{{/each}}
                        </div>{{/if}}


                        <div class="product-overlay">
                          <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0">



                            </li>

                            <li class="list-inline-item m-0 p-0"><button class="btn tbn-sm btn-dark"
                                onclick="addToCart('{{this._id}}')">Add to Cart</button></li>


                            {{#if ../user}}
                            <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark"
                                href="/productDetails?id={{this._id}}" data-bs-toggle="modal"><i
                                  class="fas fa-expand"></i></a></li>
                            {{/if}}
                          </ul>
                        </div>
                      </div>
                      <div class="my-2" style="">

                        <h6> <a class="reset-anchor d-flex justify-content-start ml-5"
                            href="/productDetails?id={{this._id}}"
                            style="color: gray; font-size:x-small">{{this.product_title}}</a>
                        </h6>
                        <h6> <a class="reset-anchor d-flex justify-content-start ml-5"
                            href="/productDetails?id={{this._id}}"
                            style="font-size: 14px;">{{this.product_description}}</a>
                        </h6>
                      </div>
                      {{#if this.offerPrice}}
                      <div class="d-flex justify-content-start ml-5">

                        <p class="small"><strong>₹{{this.offerPrice}}</p></strong>

                        <p class="small text-muted ml-3"><span class="font-weight-bold">₹</span><del
                            style="color: rgb(170, 170, 170);">{{this.price}}</del>
                        </p>
                      </div>
                      {{else}}
                      <p class="small d-flex justify-content-start ml-5"><span class="font-weight-bold">₹</span>
                        <strong>{{this.price}}</strong>
                      </p>
                      {{/if}}

                    </div>
                  </div>
                  {{/each}}
          
          </div>
        </div>
      </section>



<script>

   var options = {
            
            height:500,
            zoomWidth:700,
            offset:{vertical:0 , horizontal:0},
            scale:1,
            
        }
        //creating new object for image zoom
        new ImageZoom(document.getElementById("image-container") , options)


 
</script>
