      <p>helo</p>
                {{!-- <div class="row">
                  <!-- PRODUCT-->
                  {{#each products}}
                  <div class="col-lg-4 col-sm-6">
                    <div class="product text-center">
                      <div class="mb-3 position-relative">
                        <div class="badge text-white bg-"></div><a class="d-block" href="/productDetails?id={{this.products._id}}"><img  src="/product-images/{{this.products._id}}.jpg" alt="..." style="height:20rem;widht:20rem"></a>
                        <div class="product-overlay"> 
                          <ul class="mb-0 list-inline">
                            {{!-- <li class="list-inline-item m-0 p-0"><button class="btn btn-sm btn-outline-dark" onclick="addToWishlist('{{this._id}}')"><i class="far fa-heart"></i></button></li> --}}
                            {{!-- <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="/add-to-cart/{{this._id}}">Add to cart</a></li>/ --}}
                             {{!-- <li class="list-inline-item m-0 p-0"><button class="btn tbn-sm btn-dark" onclick="addToCart('{{this._id}}')">Add to Cart</button></li>
                            <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-bs-toggle="modal"><i class="fas fa-expand"></i></a></li>
                          </ul>
                        </div>
                      </div>
                      <h6> <a class="reset-anchor" href="detail.html">{{this.products.product_title}}</a></h6>
                      <p class="small text-muted"><span class="font-weight-bold">₹</span> {{this.price}}</p>
                    </div>
                  </div>
                    {{/each}}  --}}


                <!-- PAGINATION-->
                {{!-- <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-center justify-content-lg-end">
                    <li class="page-item mx-1"><a class="page-link" href="#!" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="page-item mx-1 active"><a class="page-link" href="#!">1</a></li>
                    <li class="page-item mx-1"><a class="page-link" href="#!">2</a></li>
                    <li class="page-item mx-1"><a class="page-link" href="#!">3</a></li>
                    <li class="page-item ms-1"><a class="page-link" href="#!" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                  </ul>
                </nav>
              </div>
            </div>