<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
<style>
  * {
    font-family: 'Goldman', cursive;
  }

  .product-grid {
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  .product-grid .product-image {

    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  .product-grid .product-image a.image {
    display: block;
  }

  .product-grid .product-image img {
    width: auto;
    height: 300px;
  }

  .product-grid .product-discount-label {
    color: #fff;
    background: #A5BA8D;
    font-size: 13px;
    font-weight: 600;
    line-height: 25px;
    padding: 0 20px;
    position: absolute;
    top: 10px;
    left: 0;
  }

  .product-grid .product-links {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10px;
    right: -50px;
    transition: all .5s ease 0s;
  }

  .product-grid:hover .product-links {
    right: 10px;
  }

  .product-grid .product-links li a {
    color: #333;
    background: transparent;
    font-size: 17px;
    line-height: 38px;
    width: 38px;
    height: 38px;
    border: 1px solid #333;
    border-bottom: none;
    display: block;
    transition: all 0.3s;
  }

  .product-grid .product-links li:last-child a {
    border-bottom: 1px solid #333;
  }

  .product-grid .product-links li a:hover {
    color: #fff;
    background: #333;
  }

  .product-grid .add-to-cart {
    background: #A5BA8D;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    padding: 10px 26px;
    position: absolute;
    left: 0;
    bottom: -60px;
    transition: all 0.3s ease 0s;
  }

  .product-grid:hover .add-to-cart {
    bottom: 0;
  }

  .product-grid .add-to-cart:hover {
    text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
  }

  .product-grid .product-content {
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.1) inset;
  }

  .product-grid .title {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 7px;
  }

  .product-grid .title a {
    color: #777;
    transition: all 0.3s ease 0s;
  }

  .product-grid .title a:hover {
    color: #a5ba8d;
  }

  .product-grid .price {
    color: #0d0d0d;
    font-size: 14px;
    font-weight: 600;
  }

  .product-grid .price span {
    color: #888;
    font-size: 13px;
    font-weight: 400;
    text-decoration: line-through;
  }

  @media screen and (max-width: 990px) {
    .product-grid {
      margin-bottom: 30px;
    }


  }


  


  
  .icon {
  height: 20px;
  width: 20px;
  margin-top: 10px;
  background: transparent;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
}
.like {
  border: none;
  height: 25px;
  width: 50px;
  background: transparent;
  outline: none;
  display: flex;
  justify-items: center;
  text-align: center;
  border-radius: 60%;
}

.icon-like {
  background: transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;

  justify-items: center;
}
.icon-liked {
  background: transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  position: absolute;

  justify-items: center;
  z-index: -1;
}

.like:focus {
  outline: 0;
}
.remove-btn {
  border-radius: 50%;
  border: none;

  background-color: red;
  color: black;
  height: 30px;
  width: 30px;
  box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.3em;
  text-align: center;
}
.remove-btn:focus {
  outline: 0;
}
.iconliked {
  background: transparent;
  border-radius: 50%;
  height: 25px;
  width: 25px;

  justify-self: center;

  z-index: 2;
  bottom: 5px;
}
.liked {
  border: none;
  height: 25px;
  width: 25px;
  background: transparent;
  outline: none;

  justify-content: center;
  text-align: center;
  display: flex;
  position: absolute;
  border-radius: 60%;
  right: 17px;

  z-index: 2;
}
.liked:focus {
  outline: 0;
}

.like-btns {
  height: 25px;
  width: 25px;
  float: right;
}
.hide-like-btn {
  display: none;
}

</style>

<section>

  <body>
    <div class="page-holder">
      <!-- navbar-->


      <div class="container">
        <!-- HERO SECTION-->
        <section class="py bg-light"><img class="img-fluid" src="/images/new.png" alt="">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                {{!-- <h1 class="h2 text-uppercase mb-0">Shop</h1> --}}
              </div>
              <div class="col-lg-6 text-lg-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                    <li class="breadcrumb-item"><a class="text-dark" href="">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          <div class="container p-0">
            <div class="row">

              <!-- SHOP LISTING-->
              <div class="col-lg-12 order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row mb-3 align-items-center">
                  <div class="col-lg-6 mb-2 mb-lg-0">
                    {{!-- <p class="text-sm text-muted mb-0">Showing 1–12 of 53 results</p> --}}
                  </div>
                  <div class="col-lg-6">
                    <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                      {{!-- <li class="list-inline-item text-muted me-3"><a class="reset-anchor p-0" href="#!"><i
                            class="fas fa-th-large"></i></a></li>
                      <li class="list-inline-item text-muted me-3"><a class="reset-anchor p-0" href="#!"><i
                            class="fas fa-th"></i></a></li> --}}
                      <li class="list-inline-item">
                        <select class="selectpicker" data-customclass="form-control form-control-sm"
                          onchange="location = this.value">
                          <option value="" id="select">Sort By </option>
                          <option id="sortBy" value="/view-products">Default sorting </option>
                          <option id="sortBy" value="/view-products/popularity">Popularity </option>
                          <option id="sortBy" value="/view-products/lowTohigh">Price: Low to High </option>
                          <option id="sortBy" value="/view-products/hightTolow">Price: High to Low </option>
                        </select>

                        {{!-- <select class="selectpicker" data-customclass="form-control form-control-sm"
                          onchange="location = this.value" id="select">
                          <option value="" id="">Sort By </option>
                          <option id="sortBy" value="defalult">Default sorting </option>
                          <option id="sortBy" value="pupularity">Popularity </option>
                          <option id="sortBy" value="lowTohigh">Price: Low to High </option>
                          <option id="sortBy" value="hightTOlow">Price: High to Low </option>
                        </select> --}}
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="row">
                  <!-- PRODUCT-->

                  {{#each product}}
                  <div class="col-lg-4 col-sm-6 my-4">
                    <div class="product text-center">
                      <div class="mb-3 position-relative">
                        <div class="badge text-white"> </div><a class="d-block" href="/productDetails?id={{this._id}}">
                          <img src="/product-images/{{this._id}}1.jpg" alt="..." style="height:20rem;widht:20rem"></a>


                                                   {{#if ../user}}<div class="like-btns">
                                 <button
                                  onclick="wishList('{{../user._id}}','{{this._id}}')" class="like float-right  "><img
                                    id="like{{this._id}}" class="icon-like" src="/images/heart.png"
                                    alt=""><img id="liked{{this._id}}" class="icon-liked"
                                    src="/images/liked.png" alt=""></button>{{#each ../wishlist }}{{#iff this ../this._id}}
                                    {{#if status}}

                                <button id="likebtn{{../this.id}}"
                                  onclick="unWish('{{../../../user._id}}','{{../../this._id}}')"
                                  class="liked float-right liked{{../../this._id}}"><img class="iconliked "
                                    src="/images/liked.png" alt=""></button>
                                {{/if}}
                                {{/iff}}{{/each}}
                              </div>{{/if}}


                        <div class="product-overlay">
                          <ul class="mb-0 list-inline">
                            <li class="list-inline-item m-0 p-0">



                            </li>




                            {{!-- href="/add-to-wishlist/{{this._id}}"><i class="far fa-heart"></i></button></li> --}}
                            {{!-- href="/add-to-wishlist/{{this._id}}"><i class="far fa-heart"></i></a></li> --}}
                            {{!-- <li class="list-inline-item m-0 p-0"><button class="btn btn-sm btn-outline-dark"
                                onclick="addToWishlist('{{this._id}}')"><i class="far fa-heart"></i></button></li> --}}
                            {{!-- <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark"
                                href="/add-to-cart/{{this._id}}">Add to cart</a></li>/ --}}
                            <li class="list-inline-item m-0 p-0"><button class="btn tbn-sm btn-dark"
                                onclick="addToCart('{{this._id}}')">Add to Cart</button></li>


                            {{#if ../user}}
                            <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark"
                                href="/productDetails?id={{this._id}}" data-bs-toggle="modal"><i
                                  class="fas fa-expand"></i></a></li>
                            {{/if}}
                          </ul>
                        </div>
                      </div>
                      <div class="my-2" style="">

                        <h6> <a class="reset-anchor d-flex justify-content-start ml-5"
                            href="/productDetails?id={{this._id}}"
                            style="color: gray; font-size:x-small">{{this.product_title}}</a>
                        </h6>
                        <h6> <a class="reset-anchor d-flex justify-content-start ml-5"
                            href="/productDetails?id={{this._id}}"
                            style="font-size: 14px;">{{this.product_description}}</a>
                        </h6>
                      </div>
                      {{#if this.offerPrice}}
                      <div class="d-flex justify-content-start ml-5">

                        <p class="small"><strong>₹{{this.offerPrice}}</p></strong>

                        <p class="small text-muted ml-3"><span class="font-weight-bold">₹</span><del
                            style="color: rgb(170, 170, 170);">{{this.price}}</del>
                        </p>
                      </div>
                      {{else}}
                      <p class="small d-flex justify-content-start ml-5"><span class="font-weight-bold">₹</span>
                        <strong>{{this.price}}</strong>
                      </p>
                      {{/if}}

                    </div>
                  </div>
                  {{/each}}





                  <!-- PAGINATION-->
                  {{!-- <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center justify-content-lg-end">
                      <li class="page-item mx-1"><a class="page-link" href="#!" aria-label="Previous"><span
                            aria-hidden="true">«</span></a></li>
                      <li class="page-item mx-1 active"><a class="page-link" href="#!">1</a></li>
                      <li class="page-item mx-1"><a class="page-link" href="#!">2</a></li>
                      <li class="page-item mx-1"><a class="page-link" href="#!">3</a></li>
                      <li class="page-item ms-1"><a class="page-link" href="#!" aria-label="Next"><span
                            aria-hidden="true">»</span></a></li>
                    </ul>
                  </nav> --}}
                </div>
              </div>
            </div>
        </section>
      </div>

      <!-- JavaScript files-->
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="/vendor/nouislider/nouislider.min.js"></script>
      <script src="/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
      {{!--
      <script src="js/front.js"></script> --}}
      <!-- Nouislider Config-->
      <script>
        var range = document.getElementById('range');
        noUiSlider.create(range, {
          range: {
            'min': 0,
            'max': 2000
          },
          step: 5,
          start: [100, 1000],
          margin: 300,
          connect: true,
          direction: 'ltr',
          orientation: 'horizontal',
          behaviour: 'tap-drag',
          tooltips: true,
          format: {
            to: function (value) {
              return '$' + value;
            },
            from: function (value) {
              return value.replace('', '');
            }
          }
        });



        /////////////sort fileters/////////////////

        (function () {

          let field = document.querySelector('.sort');
          let li = Array.from(field.children);




          function SortProduct() {
            let select = document.getElementById('select');
            let ar = [];
            for (let i of li) {
              const last = i.lastElementChild;
              const x = last.textContent.trim();
              const y = Number(x.substring(1));
              i.setAttribute("data-price", y);
              ar.push(i);
            }
            this.run = () => {
              addevent();
            }
            function addevent() {
              select.onchange = sortingValue;
            }
            function sortingValue() {

              if (this.value === 'Default') {
                while (field.firstChild) { field.removeChild(field.firstChild); }
                field.append(...ar);
              }
              if (this.value === 'LowToHigh') {
                SortElem(field, li, true)
              }
              if (this.value === 'HighToLow') {
                SortElem(field, li, false)
              }
            }
            function SortElem(field, li, asc) {
              let dm, sortli;
              dm = asc ? 1 : -1;
              sortli = li.sort((a, b) => {
                const ax = a.getAttribute('data-price');
                const bx = b.getAttribute('data-price');
                return ax > bx ? (1 * dm) : (-1 * dm);
              });
              while (field.firstChild) { field.removeChild(field.firstChild); }
              field.append(...sortli);
            }
          }

          new FilterProduct().run();
          new SortProduct().run();
        })();
        /////////////////end///////////////////

        function checkWish() {
          fetch(`/check-wishlist/${proId}`).then(response => response.json())
            .then(response => {
              console.log(response)

            })
        }



        function wish(proId) {
          console.log(proId)
          $.ajax({
            url: `/add-to-wishlist/${proId}`,

            method: 'get',
            success: (response) => {
              console.log("respo",response)
              if (response.status) {

                const Toast = Swal.mixin({
                  toast: true,
                  position: 'top-end',
                  showConfirmButton: false,
                  timer: 3000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                })

                Toast.fire({
                  icon: 'success',
                  title: 'Signed in successfully'
                })
                let count = $('#wish-count').html()
                count = parseInt(count) + 1
                $("#wish-count").html(count)
              }

            }


          })
        }

        function wishList(userId, proId) {
          console.log("pro", proId)
          console.log("user", userId)
          $.ajax({
            url: '/wish-list',
            data: {
              user: userId,
              proId: proId
            },
            method: 'post',
            success: (response) => {
              if (response.status) {

                const Toast = Swal.mixin({
                  toast: true,
                  position: 'bottom-end',
                  showConfirmButton: false,
                  timer: 2000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                })

                Toast.fire({
                  icon: 'success',
                  title: 'Added to Wishlist'
                })
                $('#like' + proId).hide()
                $('#like2' + proId).hide()


              } else {
                $('#like' + proId).show()
                $('#like2' + proId).show()
                const Toast = Swal.mixin({
                  toast: true,
                  position: 'bottom-end',
                  showConfirmButton: false,
                  timer: 2000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                })

                Toast.fire({
                  icon: 'success',
                  title: 'Removed from Wishlist'
                })
              }

            }


          })
        }

        function unWish(userId, proId) {
           console.log("pro", proId)
          console.log("user", userId)
          let div = document.querySelector(".liked" + proId)
          div.classList.add("hide-like-btn")


          $.ajax({
            url: '/wish-list',
            data: {
              user: userId,
              proId: proId
            },
            method: 'post',
            success: (response) => {
              console.log(response);
              if (!response.status) {

                const Toast = Swal.mixin({
                  toast: true,
                  position: 'bottom-end',
                  showConfirmButton: false,
                  timer: 2000,
                  timerProgressBar: true,
                  didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                  }
                })

                Toast.fire({
                  icon: 'success',
                  title: 'removed from Wishlist'
                })
              }

            }
          })

        }
        // Handlebars.registerHelper('ifEquals', function(arg1, arg2, options) {
        //     return (arg1 == arg2) ? options.fn(this) : options.inverse(this);
        // });

        function removeWish(proId) {
          swal({
            title: "Are you sure?",
            text: "remove  from wishlist",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
            .then((willDelete) => {
              if (willDelete) {
                $.ajax({
                  url: '/remove-wish?id=' + proId,
                  method: 'get',
                  success: (response) => {

                    location.reload();
                  }

                })

              } else {

              }
            });

        }
      </script>


    </div>
  </body>
</section>