<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
<style>
  * {
    font-family: 'Goldman', cursive;
  }
</style>

<section>

  <body>
    <div class="page-holder">
      <!-- navbar-->


      <div class="container">
        <!-- HERO SECTION-->
        <section class="py bg-light"><img class="img-fluid" src="/images/new.png" alt="">
          <div class="container">
            <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
              <div class="col-lg-6">
                {{!-- <h1 class="h2 text-uppercase mb-0">Shop</h1> --}}
              </div>
              <div class="col-lg-6 text-lg-end">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-lg-end mb-0 px-0 bg-light">
                    <li class="breadcrumb-item"><a class="text-dark" href="">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Shop</li>
                  </ol>
                </nav>
              </div>
            </div>
          </div>
        </section>
        <section class="py-5">
          <div class="container p-0">
            <div class="row">

              <!-- SHOP LISTING-->
              <div class="col-lg-12 order-1 order-lg-2 mb-5 mb-lg-0">
                <div class="row mb-3 align-items-center">
                  <div class="col-lg-6 mb-2 mb-lg-0">
                    {{!-- <p class="text-sm text-muted mb-0">Showing 1–12 of 53 results</p> --}}
                  </div>
                  <div class="col-lg-6">
                    <ul class="list-inline d-flex align-items-center justify-content-lg-end mb-0">
                      <li class="list-inline-item">
                        {{!-- <select class="selectpicker" data-customclass="form-control form-control-sm"
                          onchange="location = this.value">
                          <option value="" id="select">Sort By </option>
                          <option id="sortBy" value="/view-products">Default sorting </option>
                          <option id="sortBy" value="/view-products/popularity">Popularity </option>
                          <option id="sortBy" value="/view-products/lowTohigh">Price: Low to High </option>
                          <option id="sortBy" value="/view-products/hightTolow">Price: High to Low </option>
                        </select> --}}

                      </li>
                    </ul>
                  </div>
                </div>
              
                <div class="row d-flex justify-content-center">
                  <!-- PRODUCT-->

                  {{#each product}}
                  <div class="col-lg-4 col-sm-6 my-4" >
                    <div class="card">
                      {{!-- <div class="card-body"
                        style="box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(233, 233, 233) 0px 0px 0px 1px inset;">
                        --}}
                        <div class="card-body"
                          style=" box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(141, 141, 141, 0.15) 0px 0px 0px 1px;">
                          <div class="product text-center">
                            <div class="mb-3 position-relative">
                              <div class="badge text-white"> </div><a class="d-block"
                                href="/productDetails?id={{this._id}}">
                                <img src="/product-images/{{this._id}}1.jpg" alt="..."
                                  style="height:20rem;widht:20rem"></a>

                              <div class="position-absolute top-0 start-100 translate-middle mt-2">

                                {{#if ../user}}<div class="like-btns">
                                  <button onclick="wishList('{{../user._id}}','{{this._id}}')"
                                    class="like float-right  "><img id="like{{this._id}}" class="icon-like"
                                      src="/images/heart.png" alt=""><img id="liked{{this._id}}" class="icon-liked"
                                      src="/images/liked.png" alt=""></button>{{#each
                                  ../wishlist }}{{#iff this ../this._id}}
                                  {{#if status}}

                                  <button id="likebtn{{../this.id}}"
                                    onclick="unWish('{{../../../user._id}}','{{../../this._id}}')"
                                    class="liked float-right liked{{../../this._id}}"><img class="iconliked "
                                      src="/images/liked.png" alt=""></button>
                                  {{/if}}
                                  {{/iff}}{{/each}}
                                </div>{{/if}}
                              </div>



                              <div class="product-overlay">
                                <ul class="mb-0 list-inline">
                                  <li class="list-inline-item m-0 p-0">



                                  </li>

                                  <li class="list-inline-item m-0 p-0"><button class="btn tbn-sm btn-dark"
                                      onclick="addToCart('{{this._id}}')">Add to Cart</button></li>
                                 
                                </ul>
                              </div>
                            </div>
                            <div class="my-2" style="">

                              <h6> <a class="reset-anchor d-flex justify-content-start ml-5"
                                  href="/productDetails?id={{this._id}}"
                                  style="color: gray; font-size:x-small">{{this.product_title}}</a>
                              </h6>
                              <h6> <a class="reset-anchor d-flex justify-content-start ml-5"
                                  href="/productDetails?id={{this._id}}"
                                  style="font-size: 14px;">{{this.product_description}}</a>
                              </h6>
                            </div>
                            {{#if this.offerPrice}}
                            <div class="d-flex justify-content-start ml-5">

                              <p class="small"><strong>₹{{this.offerPrice}}</p></strong>

                              <p class="small text-muted ml-3"><span class="font-weight-bold">₹</span><del
                                  style="color: rgb(170, 170, 170);">{{this.price}}</del>
                              </p>
                            </div>
                            {{else}}
                            <p class="small d-flex justify-content-start ml-5"><span class="font-weight-bold">₹</span>
                              <strong>{{this.price}}</strong>
                            </p>
                            {{/if}}

                          </div>

                        </div>
                      </div>
                    </div>
                    {{/each}}





                    <!-- PAGINATION-->
                    <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-center justify-content-lg-end">
                         <li class="page-item"><a class="page-link" href="?page={{math currentPage '+' '-1'}}">Previous</a></li>
                {{#times '1' pageLimit}}
                <li class="page-item"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                {{/times}}
                <li class="page-item"><a class="page-link" href="?page={{inc currentPage}}">Next</a></li>
                      </ul>
                    </nav>
                    {{!-- <div class="pagination pagination-centered">
                      <ul>
                        {{#paginate pagination type="first"}}
                        <li {{#if disabled}}class="disabled" {{/if}}><a href="?p={{n}}">First</a></li>
                        {{/paginate}}
                        {{#paginate pagination type="previous"}}
                        <li {{#if disabled}}class="disabled" {{/if}}><a href="?p={{n}}">Prev</a></li>
                        {{/paginate}}
                        {{#paginate pagination type="middle" limit="7"}}
                        <li {{#if active}}class="active" {{/if}}><a href="?p={{n}}">{{n}}</a></li>
                        {{/paginate}}
                        {{#paginate pagination type="next"}}
                        <li {{#if disabled}}class="disabled" {{/if}}><a href="?p={{n}}">Next</a></li>
                        {{/paginate}}
                        {{#paginate pagination type="last"}}
                        <li {{#if disabled}}class="disabled" {{/if}}><a href="?p={{n}}">Last</a></li>
                        {{/paginate}}
                      </ul>
                    </div> --}}
                  </div>
                </div>
              </div>
        </section>
      </div>

      <!-- JavaScript files-->
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="/vendor/nouislider/nouislider.min.js"></script>
      <script src="/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
      {{!--
      <script src="js/front.js"></script> --}}
      <!-- Nouislider Config-->
      <script>
        var range = document.getElementById('range');
        noUiSlider.create(range, {
          range: {
            'min': 0,
            'max': 2000
          },
          step: 5,
          start: [100, 1000],
          margin: 300,
          connect: true,
          direction: 'ltr',
          orientation: 'horizontal',
          behaviour: 'tap-drag',
          tooltips: true,
          format: {
            to: function (value) {
              return '$' + value;
            },
            from: function (value) {
              return value.replace('', '');
            }
          }
        });



        /////////////sort fileters/////////////////

        (function () {

          let field = document.querySelector('.sort');
          let li = Array.from(field.children);




          function SortProduct() {
            let select = document.getElementById('select');
            let ar = [];
            for (let i of li) {
              const last = i.lastElementChild;
              const x = last.textContent.trim();
              const y = Number(x.substring(1));
              i.setAttribute("data-price", y);
              ar.push(i);
            }
            this.run = () => {
              addevent();
            }
            function addevent() {
              select.onchange = sortingValue;
            }
            function sortingValue() {

              if (this.value === 'Default') {
                while (field.firstChild) { field.removeChild(field.firstChild); }
                field.append(...ar);
              }
              if (this.value === 'LowToHigh') {
                SortElem(field, li, true)
              }
              if (this.value === 'HighToLow') {
                SortElem(field, li, false)
              }
            }
            function SortElem(field, li, asc) {
              let dm, sortli;
              dm = asc ? 1 : -1;
              sortli = li.sort((a, b) => {
                const ax = a.getAttribute('data-price');
                const bx = b.getAttribute('data-price');
                return ax > bx ? (1 * dm) : (-1 * dm);
              });
              while (field.firstChild) { field.removeChild(field.firstChild); }
              field.append(...sortli);
            }
          }

          new FilterProduct().run();
          new SortProduct().run();
        })();
        /////////////////end///////////////////


      </script>


    </div>
  </body>
</section>