<style>
    .order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
</style>
{{!-- 
<form action="/wallet?userId={{user._id}}" method="post">
 <label for="wallet">amount</label>
    <input type="number" name="wall_amount" id="wall_amount">

    <center><button type="submit" class="btn btn-primary float-center">add</button></center>
</form> --}}

<div class="container mt-3 p-3">
    
    <h2>wallet</h2>
    <div class="row d-flex justify-content-center">
{{!-- 
    <div class="col-4 card">
        <div class="card-body">
            <div class="d-flex justify-content-between">

            <p>wallet Amount</p>
            <strong>{{amount.wall_amount}}</strong>
            </div>
        </div>
    </div> --}}
            <div class="col-md-4 col-xl-3">
            <div class="card bg-c-pink order-card">
                <div class="card-block">
                    <h6 class="m-b-20">Payment Received</h6>
                    <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>₹{{amount.wall_amount}}</span></h2>
                    {{!-- <p class="m-b-0">Completed Orders<span class="f-right"></span></p> --}}
                </div>
            </div>
    </div>
        </div>
    {{!-- <table>
        <thead>

        <th>date</th>
        <th>date</th>
        <th>amount</th>
        </thead>
    <tbody>

    {{#each wallet}}
    <tr>
    <td>{{this.date}}</td>
    <td>{{this.message}}</td>
    {{#if this.isDebit}}
    <td style="color: rgb(0, 150, 13);">- {{this.transactionamount}}</td>
    {{else}}
    <td style="color:rgb(255, 0, 0); ">+ {{this.transactionamount}}</td>
    {{/if}}
    </tr>
    {{/each}}
    </tbody>
    </table> --}}


    <div class="card " style="box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;">
               {{#each wallet}}
        <div class="card-body d-flex justify-content-between">
               <div>    <p>{{this.date}}</p></div>
       
           <div> <p>{{this.message}}</p></div> 
                {{#if this.isDebit}}
                
   <div><p style="color: rgb(0, 150, 13);">+ {{this.transactionamount}}</p></div> 
    {{else}}
    <div><p style="color:rgb(255, 0, 0); ">- {{this.transactionamount}}</p></div>
    {{/if}}
        </div>
    {{/each}}
    </div>
</div>