
{{!-- 
<form action="/wallet?userId={{user._id}}" method="post">
 <label for="wallet">amount</label>
    <input type="number" name="wall_amount" id="wall_amount">

    <center><button type="submit" class="btn btn-primary float-center">add</button></center>
</form> --}}

<div class="container">
    <h2>wallet</h2>
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">

            <p>wallet Amount</p>
            <strong>{{user.wallet}}</strong>
            </div>
        </div>
    </div>
    <table>

    {{#each wallet}}
    <tr>
    <td>{{this.date}}</td>
    {{#if this.isDebit}}
    <td style="color: green;">{{this.transactionamount}}</td>
    {{else}}
    <td style="color: rgb(128, 11, 0);">{{this.transactionamount}}</td>
    {{/if}}
    <td>{{this.isDebit}}</td>
    </tr>
    {{/each}}
    </table>
</div>